@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f0dfc0;
}

.card-bg {
  background-color: #f7ead4;
}

.sidebar-bg {
  background-color: #f7ead4;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.homepage-bg {
  background-color: #f0dfc0;
}
